body{
    background-color: rgb(76, 125, 96);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(8, 49, 58);
}
h1 {
    font-size: 50pt;
    margin: 0;
    margin-left: 70px;
}

p {
    font-size: 28pt;
    margin-left: 70px;
    margin-right: 650px;
    margin-top: 15px;
}
h5 {
    text-align: right;
    font-size: 20pt;
    margin-right: 70px;
    margin-bottom: 60px;
}
a:link {color:rgb(8, 49, 58)}
a:visited {color:rgb(8, 49, 58)}

hr {width: 40%;margin-left: 70px;margin-right: 70px;
    background-color: rgb(8, 49, 58);height: 4px;
    border: none}

img {
    width: 250px;
    height: 250px;
    margin-left: 70px;
}

ul {
    margin-left: 70px;
    font-size: 18pt;
}