body{
    background-color: rgb(76, 125, 96);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(8, 49, 58);
}
h1 {
    font-size: 50pt;
}
h2{
    font-size: 40pt;
}
h3 {
    font-size: 190pt;
    text-align: right;
    margin-right: 80px;
    margin-top: 100px;
    margin-bottom: 0;
}
h1, h2 {
    margin: 0;
    margin-left: 70px;
}
h5 {
    text-align: right;
    font-size: 20pt;
    margin-right: 70px;
    margin-bottom: 100px;
}
a:link {
    color:rgb(8, 49, 58);
}
a:visited {
    color:rgb(8, 49, 58);
}
